<!--HOME-->
<header class="container">
    <nav class="navbar navbar-expand-lg scrolling-navbar fixed-top row">
        <div class="container-fluid col">
            <a class="navbar-brand" href="#" id="first_tittle">Portafolio</a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <i class="bi bi-house-door"></i>
                        <a class="sacarsubrayado" aria-current="page" href="" routerLinkActive="linkActive">Home</a>
                    </li>
                    <li class="nav-item">
                        <i class="bi bi-joystick"></i>
                        <a class="sacarsubrayado" href="/aboutMe" routerLinkActive="linkActive">About me</a>
                    </li>
                    <li class="nav-item">
                        <i class="bi bi-briefcase"></i>
                        <a class="sacarsubrayado" href="/skills" routerLinkActive="linkActive">Skills</a>
                    </li>
                    <li class="nav-item">
                        <i class="bi bi-person-badge"></i>
                        <a class="sacarsubrayado" href="/proyects" routerLinkActive="linkActive">Proyects</a>
                    </li>
                    <li class="nav-item">
                        <i class="bi bi-envelope"></i>
                        <a class="sacarsubrayado" href="/contactMe" routerLinkActive="linkActive">Contact me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>