
        <!--Introduction about me-->
                        
        <section class="aboutMe pt-7 pt-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-4">
                        <div class="mx-auto col-4 col-md-5 align-self-center">
                            <!-- Image -->
                            <img class="media-decoration-img imageAboutMe" src="https://cdn.forbes.com.mx/2021/09/Kautilya-Katariya-nino-programador.png"  alt="Foto Curriculum">
                        </div>      
                    </div>
                    <div class=" mx-auto align-self-center col-md-8">
                        <div class="mx-auto containerWho"> 
                            <p class="who">About me</p>
                        </div>
                        <div class="col align-self-center mx-auto">
                                    <!-- Heading -->
                            <h2 class="mb-2">Who I am?</h2>
                                    <!-- Text -->
                            <p class="mb-4">
                                 I am a web developer with excellent <span class="resaltar">communication skills</span>. I love collaborating and working as a team, I am looking for a <span class="resaltar">full time position </span>in web development, where I can apply my <span class="resaltar">knowledge </span>and <span class="resaltar">skills </span> to continue improving.
                            </p>
                        </div>
                        <div class="pt-7 pt-md-9 d-flex row ">
                            <div class="row col-xl-6 col-sm-2 col-md-5 col-lg-6">
                                <p class="d-flex">Name: <span class="resaltar"> {{nombre }} </span></p>
                                <p class="d-flex">Email: <span class="resaltar">{{email}}</span></p>
                                <p class="d-flex">Academic study: <span class="resaltar">{{formacionAcademica}}</span></p>
                            </div>
                            <div class="row col-xl-6 col-sm-2 col-md-5 col-lg-6">
                                <p class="d-flex">Age: <span class="resaltar">{{edad}}</span></p>
                                <p class="d-flex">Addres: <span class="resaltar d-flex">{{direccion}}</span></p>
                                <p class="d-flex">Informatic engineering: <span class="resaltar d-flex">{{universidadEnCurso}}</span></p>
                            </div>
                              
                        </div>

                    </div>
                </div>
            </div>
          </section>
<br><br><br><br><br>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="progress-bar">
                <div class="progress-value">65%</div>
            </div>

        </div>
    </div>
</section>