<div class="part1">     
    <section class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0 fistPart">
        <div class="container my-auto ">
            <div class="justify-content-space-between d-flex row">
                <div class="col-12 col-md-8 col-lg-6 text-center container">
        
                    <!-- Preheading -->
                    <h6 class="text-xs text-white">
                    <span class="name">Web</span> / Developer Junior
                    </h6>
                    
                    <h6 class="text-xs text-white">
                        <span class="">Hey </span> I'M
                    </h6>
                    <!-- Heading -->
                    <h1 class="display-4 text-white mb-5">
                        <span class="name">Felipe</span>
                        <span class="secondName">Guzman</span>
                    </h1>
        
                    <!-- Subheading -->
                    <p class="text-center text-white-75 mb-7 parrafo">
                        It is a pleasure that you are here.
                    </p>

                </div>
            </div>
        </div>        
    </section>
</div>
